numpy==1.23.5
langchain==0.0.161
langchain-google-genai==0.0.10
langchain-community==0.0.8
pydantic==1.10.7
streamlit
streamlit-chat
scikit-learn
unstructured
python-magic-bin
pypdf
fastapi
faiss-cpu
